*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//@font-face{
//  font-family: "SF Pro Display";
//  src: url("./assets/SFProDisplay-Regular.woff2") format("truetype");
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//}
ul{
  list-style: none;
  margin: 0;
}
.app{
  min-width: 320px;
  padding-top: 32px;
  padding-bottom: 103px;
}
.container{
  width: 100%;
  max-width: 1488px;
  padding: 0 10px;
  margin: 0 auto;
}
.title{
  margin-top: 32px;
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
}
.filter-items{
  display: flex;
}
.product-items{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 336px));
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  justify-content: space-evenly;
}